{% extends 'base.html' %}
{% block content %}
<html>
    <head>
    </head>
    <body>
        <header>
            <h1 style="color: red; text-align: center;">Portfolio</h1>
        </header>
        <img src='https://robocontest.uz/storage/uploads/profile/99811JfEOtduw702U9rGbjfR8GVdn.webp' style="float: left;">
        <main>
            <h1 style="text-align: center; color: green">
                Salom, mening ismim Farhodjon, men Buxoro viloyatining Olot tumanida tug'ulib osayapman. Hozirda men sportdasturlash yo'nalishida shug'ullanaman. Hozirda ko'plab saytlarda masala misollar yechaman. 
            </h1>
        </main>
    </body>
</html>
{% endblock %}